config HAVE_HOST_UART
    bool
config HAVE_BCM2837_UART0
    bool
config HAVE_BCM2837_UART1
    bool
config UART
    bool
    default HOST_UART || BCM2837_UART1

choice
    prompt "UART"
    optional

    config HOST_UART
        bool "Host"
        depends on HAVE_HOST_UART
        help
            Standard library putchar() implementation

    config BCM2837_UART0
        bool "BCM2837 UART0"
        depends on HAVE_BCM2837_UART0 && BCM2837_MBOX
        help
            BCM2837 UART0

    config BCM2837_UART1
        bool "BCM2837 UART1"
        depends on HAVE_BCM2837_UART1
        help
           BCM2837 auxiliary mini UART1 on GPIO14 and GPIO15
endchoice
